# Exception Handling
To catch the errors gracefully so application does not crash

In [ ]:
# Zero Division Error
a = 5
b = 0
print(a / b)
print("Hello!")

ZeroDivisionError: division by zero

In [ ]:
# Age entered abc
age = int(input("Please enter age : "))
print(age)

ValueError: invalid literal for int() with base 10: 'abc'

In [6]:
a = "23"
type(a)

str

In [7]:
b = int(a)
type(b)

int

In [8]:
c = "abc"
print(type(c))
d = int(c)
print(type(d))

<class 'str'>

ValueError: invalid literal for int() with base 10: 'abc'

In [10]:
d = "Example"
print(d / 2)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

# Division without exception handling

In [11]:
def division(num: int, den: int) -> float:
    r = num / den
    return r

In [15]:
d1 = division(23, 4)
print(d1)
print("Complete")

5.75
Complete

In [16]:
d2 = division(100, 28)
print(d2)
print("Complete")

3.5714285714285716
Complete

In [17]:
d3 = division(num=150, den=0)
print(d3)
print("Complete")

ZeroDivisionError: division by zero

In [18]:
d4 = division(num="abc", den=3)

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [19]:
d4 = division(num="abc", den="def")

TypeError: unsupported operand type(s) for /: 'str' and 'str'

# Division with Generic exception handling

In [20]:
help(Exception)

Help on class Exception in module builtins:

class Exception(BaseException)
 |  Common base class for all non-exit exceptions.
 |
 |  Method resolution order:
 |      Exception
 |      BaseException
 |      object
 |
 |  Built-in subclasses:
 |      ArithmeticError
 |      AssertionError
 |      AttributeError
 |      BufferError
 |      ... and 16 other subclasses
 |
 |  Methods defined here:
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Methods inherited from BaseException:
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __reduce__(self, /)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __setstate__(self, object, /)
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  add_note(self, object, /)
 |      Exception.add_note(note) --
 |      add a note to the exception
 |
 |  with_traceback(self, object, /)
 |      Exception.with_traceback(tb) --
 |      set self.__traceback__ to tb and return self.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors inherited from BaseException:
 |
 |  __cause__
 |      exception cause
 |
 |  __context__
 |      exception context
 |
 |  __dict__
 |
 |  __suppress_context__
 |
 |  __traceback__
 |
 |  args

In [21]:
def division_exc(num: int, den: int) -> float:
    try:
        r = num / den
        return r
    except Exception as e:
        print(f"Exception occured : {e}")

In [22]:
d1 = division_exc(num=100, den=24)
print(d1)
print("Complete")

4.166666666666667
Complete

In [23]:
d2 = division_exc(num=22, den=7)
print(d2)
print("Complete")

3.142857142857143
Complete

In [25]:
d3 = division_exc(num=100, den=0)
print(d3)
print("Complete")

Exception occured : division by zero
None
Complete

In [27]:
d4 = division_exc(num="abc", den=2)
print(d4)
print("Complete")

Exception occured : unsupported operand type(s) for /: 'str' and 'int'
None
Complete

In [28]:
d4 = division_exc(num=12, den="def")
print(d4)
print("Complete")

Exception occured : unsupported operand type(s) for /: 'int' and 'str'
None
Complete

# Different messages for different errors

In [29]:
def division_custom(num: int, den: int) -> float:
    try:
        r = num / den
        return r
    except ZeroDivisionError:
        print("Denominator of division cannot be Zero")
    except TypeError:
        print("Ensure you enter numbers only")
    except Exception as e:
        print(f"Unexpected error occured : {e}")

In [30]:
d1 = division_custom(num=300, den=12)
print(d1)
print("Complete")

25.0
Complete

In [31]:
d2 = division_custom(num=20, den=0)
print(d2)
print("Complete")

Denominator of division cannot be Zero
None
Complete

In [32]:
d2 = division_custom(num="abc", den=3)
print(d2)
print("Complete")

Ensure you enter numbers only
None
Complete

In [33]:
d3 = division_custom(num="a", den="b")
print(d3)
print("Complete")

Ensure you enter numbers only
None
Complete

# You can raise errors whereever required

In [34]:
def age_validator():
    age = int(input("Please enter age in years : "))
    if age <= 0 or age > 100:
        raise ValueError("Age should be between 0 to 100")
    return age

In [35]:
# Age - 24
age1 = age_validator()
print(age1)

24

In [36]:
# Age - (-23)
age2 = age_validator()
print(age2)

ValueError: Age should be between 0 to 100

In [37]:
# age = 250
age3 = age_validator()
print(age3)

ValueError: Age should be between 0 to 100

In [ ]:
# Age - 250
try:
    age = age_validator()
    print(f"Age entered : {age}")
except Exception as e:
    print(f"Exception occured : {e}")

Exception occured : Age should be between 0 to 100

# Different exception handling blocks in python
1. try - Code which you try to execute
2. except - excute except block if any error occurs
3. else - Execute the code if try block is successful
4. finally -  this block will always be executed

In [43]:
import math

In [44]:
math.sqrt(9)

3.0

In [45]:
math.sqrt(15)

3.872983346207417

In [46]:
math.sqrt(-12)

ValueError: math domain error

In [47]:
math.sqrt("a")

TypeError: must be real number, not str

In [48]:
def square_root(num: int | float) -> float:
    try:
        s = math.sqrt(num)
    except Exception as e:
        print(f"Exception Occured : {e}")
    else:
        print(f"Square root of {num} is {s}")
        return s
    finally:
        print("Finally block will always be executed")

In [49]:
s1 = square_root(num=16)

Square root of 16 is 4.0
Finally block will always be executed

In [50]:
s1

4.0

In [51]:
s2 = square_root(num=60)

Square root of 60 is 7.745966692414834
Finally block will always be executed

In [52]:
s2

7.745966692414834

In [53]:
s3 = square_root(num=-3)

Exception Occured : math domain error
Finally block will always be executed

In [54]:
s3 = square_root(num="abc")

Exception Occured : must be real number, not str
Finally block will always be executed

# File Handling

1. w - Write mode - Creating new file
2. r - Read mode - Read the content from file
3. a - Append mode - Add something in an existing file

In [55]:
# Create a new file with some content
with open("example.txt", "w", encoding="utf-8") as f:
    f.write("My Name is Utkarsh.\n")
    f.write("I work as a Data Scientist\n")
    f.write("My age is 30 year.\n")

In [56]:
# Read the file
with open("example.txt", "r", encoding="utf-8") as f:
    content = f.read()

# print the content
print(content)

My Name is Utkarsh.
I work as a Data Scientist
My age is 30 year.

In [58]:
# Adding more lines in file append mode
with open("example.txt", "a", encoding="utf-8") as f:
    f.write("This line is added with append mode\n")
    f.write("This is a test\n")

In [59]:
# read file again
with open("example.txt", "r", encoding="utf-8") as f:
    content = f.read()

# print the content
print(content)

My Name is Utkarsh.
I work as a Data Scientist
My age is 30 year.
This line is added with append mode
This is a test

In [ ]:
def write_file(filename: str, content: str):
    try:
        with open(filename, "w", encoding="utf-8") as f:
            f.write(content + "\n")
    except Exception as e:
        print(f"Exception occured : {e}")

In [62]:
write_file("test.txt", "I work at ETLhive")

In [63]:
def read_file(filename: str) -> str:
    try:
        with open(filename, "r", encoding="utf-8") as f:
            content = f.read()
        return content
    except Exception as e:
        print(f"Exception occured : {e}")

In [64]:
c1 = read_file("example.txt")
print(c1)

My Name is Utkarsh.
I work as a Data Scientist
My age is 30 year.
This line is added with append mode
This is a test

In [67]:
c2 = read_file("test.txt")
print(c2)

I work at ETLhive

In [68]:
c3 = read_file("a.txt")

Exception occured : [Errno 2] No such file or directory: 'a.txt'